body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff6f1;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #b7410e;
}

.malla {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 30px;
}

.ramo {
  padding: 15px 18px;
  border: none;
  border-radius: 6px;
  background-color: #b7410e;
  color: peach;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 200px;
  text-align: center;
}

.ramo:hover:not(.bloqueado) {
  background-color: #93310c;
}

.ramo.bloqueado {
  background-color: #ddd;
  color: #777;
  cursor: not-allowed;
  text-decoration: line-through;
}
.anio {
  margin-bottom: 40px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
}

.anio h2 {
  color: #b7410e;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.semestre {
  margin-top: 15px;
  margin-bottom: 20px;
}

.semestre h3 {
  font-size: 1.2em;
  color: #444;
  margin-bottom: 10px;
}

.malla .ramo {
  margin: 5px;
}

.ramo.aprobado {
  background-color: #2e8b57;
  color: white;
}
